ul {
    margin: 0;
}

body{
    margin: 0px;
    background: #f7f5ee;
}
header{
    height: 50px;
    vertical-align: middle;
    background: #3e9cbf;
    color: #f7f5ee;
    box-shadow: 0px 0px 10px #46B3D9;
}

h1 {
    text-align: center;
    margin: 0px;
    font-weight: 500;
}

#popup {
    background-color: red;
}

.error1, .error2 {
    width: 42%;
}

.inputs{
    text-align: center;
    margin-top: 13px;
}

#json1_label, #json2_label{
    margin-bottom: 8px;
    width: 50%;
    text-align: center;
}

#json1, #json2{
    width: 99%;
    height: 200px;
    max-height: 200px;
    font-size: 12px;
}

.json_input1, .json_input2 {
    display: inline-block;
    width: 42%;
    margin-right: 2%;
}

.controls {
    padding: 8px;
    text-align: center;
}

.btn {
    cursor: pointer;
    background: #3e9cbf;
    border: 1px solid #3e9cbf;
    color: #f7f5ee;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #3e9cbf;
    margin-right: 5px;
}

.btn:hover, .btn:focus {
    background: #3c81a5;
    box-shadow: 0px 0px 1px #3e9cbf;
    outline: 0;
}

.result {
    display: none;
    text-align: center;
    margin-top: 2px;
}

.output1, .output2 {
    width: 42%;
    display: inline-block;
    margin-right: 2%;
    border: 1px solid #121212;
    text-align: left;
    background-color: #fff;
}

.errors {
    color: red;
    margin-bottom: 10px;
    margin-left: 5%;
}

.change {
    background-color: #a4c5ff;
}

.add {
    background-color: #DFD;
}

.remove {
    background-color: #FDD;
}

.strike {
    text-decoration: line-through;
}

.level-0 ul, .level-1 {
    padding-left: 2%;
}

.level-1 ul, .level-2 {
    padding-left: 3%;
}

.level-2 ul, .level-3 {
    padding-left: 4%;
}

.level-3 ul, .level-4 {
    padding-left: 5%;
}

.level-4 ul, .level-5 {
    padding-left: 6%;
}

.level-5 ul, .level-6 {
    padding-left: 7%;
}
